// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower

// Open Sans 400, 700 , 900 | Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
$custom-font: 'Open Sans', $font-family-sans-serif;

// Custom Modules
@import 'modules/variables.scss';

// Site-wide Styles
* { transition: all .25s ease; }
html, body { font-family: $custom-font; }
strong { font-weight: 600; }
p { text-align: justify; @include media-breakpoint-down(sm) { text-align-last: center; } }
.btn { font-family: $custom-font; }
.hidden { display: none; }

// Import Individual Section Styles
@import 'sections/landing-page.scss';
@import 'sections/main-left.scss';
@import 'sections/main-right.scss';
@import 'sections/footer.scss';

// Content Styles
#resume-download-switch {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  padding: 25px 0;
  margin-bottom: 50px;
}

.section {
  margin-bottom: 20px;

  &:hover {
    .heading {
      color: $red;
    }
  }

  .heading {
    color: $heading-gray;
    font-size: .8em;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray-lightest;
  }

  .content {
    text-align: justify;
    font-size: .8em;
    line-height: 1.8em;

    .list-group-item {
      &:hover {
        padding: 30px 20px;
      }

      h6 {
        font-size: 1.2em;
        font-weight: 500;
      }
    }

    .section-icon {
      @include media-breakpoint-up(lg) {
        float: left;
        padding: 5px 0 0 10px;
      }

      svg {
        width: 3em;
        height: 3em;
      }
    }

    h6 {
      color: $gray;
      font-weight: 600;

      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }

    .borderless li {
      border: 0;
      padding: 0;

      &:hover {
        padding: 15px 0;
      }

      @include media-breakpoint-down(lg) {
        div {
          justify-content: center;
        }
      }

      p {
        text-align: left;
        margin-top: -6px;

        @include media-breakpoint-down(lg) {
          margin-left: auto;
          margin-right: auto;
        }

        strong {
          font-weight: 800;
        }
      }
    }
  }
}
