// Hexagon
@import "../modules/hexagon.scss";

// Fullscreen Height
#landing-page {
  height: 100vh;
  background: url('../../images/lightpaperfibers.png') repeat;

  nav {
    position: absolute;
    margin-top: 5px;
    left: 50%;

    .nav {
      position: relative;
      left: -50%;

      li a {
        font-size: .75em;
      }
    }
  }

  .landing-container {
    height: 30em;

    @media (min-width: $xxl-screen)  {
      height: 60em;
    }

    position: relative;
    top: 50%;
    transform: translateY(-55%);

    .title {
      margin-top: 1em;

      > h1 a img {
        width: 320px;

        @media (min-width: $xxl-screen) {
          width: 440px;
        }
      }
    }

    .subtitle {
      color: $gray-light;
      margin-top: .5em;
      font-size: .8em;

      @media (min-width: $xxl-screen) {
        font-size: .9em;
      }

      .designer     { transition: all .25s ease; }
      .developer    { transition: all .25s ease; }
      .photographer { transition: all .25s ease; }
      .writer       { transition: all .25s ease; }

      .designer:hover     { color: $green; transition: all .25s ease; }
      .developer:hover    { color: $orange; transition: all .25s ease; }
      .photographer:hover { color: $pink; transition: all .25s ease; }
      .writer:hover       { color: $red; transition: all .25s ease; }
    }

    .social-icons {
      margin-top: 20px;

      .icon {
        width:  1.5em;
        height: 1.5em;
        margin: 0 .4em;
        filter: grayscale(25%);

        &:hover {
          filter: grayscale(0%);
        }

        @media (min-width: $xxl-screen) {
          width:  1.75em;
          height: 1.75em;
          margin: 0 .6em;
        }
      }
    }
  }

  .landing-button {
    position: absolute;
    left: 50%;
    bottom: 2%;

    > div {
       position: relative;
       left: -50%;

       > button {
         width: 50px;
         height: 50px;
         border-radius: 25px;
         font-size: .8em;
       }
    }
  }
}
