#about-me {
  .inline-amruth-pillai {
    height: 1.5em;
    margin: 0 4px;
  }
}

#skills {
  div ul {
    padding: 0;
    list-style: none;

    li {
      &:hover {
        padding-left: 4px;
      }

      span {
        &:last-child {
          position: relative;
          top: -4px;
          font-size: .85em;
        }
      }
    }
  }
}

#languages {
  .row {
    @media screen and (min-width: $screen-dm) {
      justify-content: space-around;
      margin: 0 50px;
    }
  }
  .percircle {
    background-color: #f5f5f5;

    &:after {
      background-color: #fff;
    }

    span {
      top: 42%;
      font-size: .15em;
    }
  }

  margin-bottom: 10px;
}
