#education {
  .list-group-item {
    .icon {
      padding: 10px 0;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .school {
      text-align: left;
      font-size: 1.2em;
      font-weight: 500;

      span {
        font-weight: 500;
        font-size: .7em;
      }

      @include media-breakpoint-down(lg) {
        font-size: 1em;

        span { display: none; }
      }
    }

    .percentile {
      opacity: .25;
      margin-top: 5px;
      font-size: 1.2em;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .major {
      text-align: left;
      margin-top: -5px;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
        font-size: .9em;
      }
    }

    &:hover {
      .percentile {
        opacity: 1;
      }
    }
  }
}

#work-experience {
  li {
    .icon {
      padding: 10px 0;

      img {
        height: 30px;
      }
    }

    .workplace { font-size: 1.2em; font-weight: 500;}
    .period {
      font-size: .9em;
      opacity: .25;
    }
    .position { font-size: .9em; margin-top: -3px; font-weight: 600; }
    .specialization { font-size: .9em; margin-top: 5px;}

    &:hover {
      .period {
        opacity: 1;
      }
    }
  }
}

#photography-showcase {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#development-projects {
  li {
    .name {
      font-size: 1.2em;
      font-weight: 500;
    }

    .description {
      padding: 10px 0;
    }
  }
}

#design-projects {
  .nav-link {
    text-align: center;
  }

  .tab-pane {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;

    > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;

      > .project {
        height: 128px;
        flex-basis: 25%;

        &:hover {
          > img {
            opacity: .5;
          }
        }

        > img {
          width: 100%;
          height: 128px;
          object-fit: cover;
        }
      }
    }
  }
}

.modal {
  .modal-body {
    text-align: center;
  }

  @include media-breakpoint-down(sm)  {
    width: 100vw;
  }
}
